*.log
__pycache__/
*.pth
divide/ovdet/checkpoints/
!divide/ovdet/checkpoints/test.py
divide/ovdet/checkpoints/
divide/ovdet/checkpoints/
!divide/ovdet/checkpoints/test.py
divide/ovdet/checkpoints/
divide/ovdet/data/
divide/checkpoints/*
!divide/checkpoints/.gitkeep
divide/checkpoints/*
!divide/checkpoints/.gitkeep
